// //routes slide left right
// .component-slideleft-enter-active,
// .component-slideleft-leave-active {
//   transition: all 0.2s ease;
// }
// .component-slideleft-leave-to {
//   transform: translateX(-100%);
//   opacity: 0;
// }
// .component-slideleft-enter {
//   transform: translateY(-100%) translateX(+100%);
//   opacity: 1;
// }
// .component-slideleft-enter-to {
//   transform: translateY(-100%) translateX(0);
// }
// .component-slideright-enter-active,
// .component-slideright-leave-active {
//   transition: all 0.2s ease;
// }
// .component-slideright-leave-to {
//   transform: translateX(+100%);
//   opacity: 0;
// }
// .component-slideright-enter {
//   transform: translateY(-100%) translateX(-100%);
//   opacity: 1;
// }
// .component-slideright-enter-to {
//   transform: translateY(-100%) translateX(0);
// }

// .component-fade-enter-active,
// .component-fade-leave-active {
//   transition: all 0.2s ease;
// }
// .component-fade-leave-to {
//   transform: translateX(100%);
//   opacity: 0;
// }
// .component-fade-enter {
//   transform: translateY(-100%) translateX(-100%);
//   opacity: 1;
// }
// .component-fade-enter-to {
//   transform: translateY(-100%) translateX(0);
// }

// .fade-enter-active,
// .fade-leave-active {
//   transition: all 0.5s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   transition: all 0s;
//   opacity: 0;
//   height: 0;
//   overflow: hidden;
// }
// .slideright-enter-active,
// .slideright-leave-active {
//   transition: all 0.5s;
// }
// .slideright-enter, .slideright-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   transform: translateX(-100%);
// }
// .slideleft-enter-active,
// .slideleft-leave-active {
//   transition: all 0.5s;
// }
// .slideleft-enter, .slideleft-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   transform: translateX(100%);
// }
// .slideup-enter-active,
// .slideup--leave-active {
//   transform: scaleY(1);
//   transition: transform 0.3s;
// }
// .slideup-enter,
// .slideup-leave-to {
//   transform: scaleY(0);
//   transition: transform 0.4s ease;
// }
// .slideupfull-enter-active,
// .slideupfull-leave-active {
//   transform: translateY(0);
//   transition: transform 0.3s;
// }
// .slideupfull-enter,
// .slideupfull-leave-to {
//   transform: translateY(+100%);
//   transition: transform 0.4s ease;
// }
// .drawup-enter-active,
// .drawup-leave-active {
//   transition: all 0.3s;
// }
// .drawup-enter, .drawup-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   transform: translateY(+150%);
// }
// .opacity-enter-active,
// .opacity-leave-active {
//   transition: all 0.3s;
// }
// .opacity-enter, .opacity-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }
.menu-enter-active {
  transition: 0.4s cubic-bezier(0.17, 0.48, 0.46, 0.96);
  .window, .backoverlay{
    transition: 0.4s cubic-bezier(0.17, 0.48, 0.46, 0.96);
  }
}

.menu-leave-active {
  transition: 0.4s cubic-bezier(0.63, 0.17, 1, 0.76);
  .window, .backoverlay{
    transition: 0.4s cubic-bezier(0.63, 0.17, 1, 0.76);
  }
}
.menu-enter, .menu-leave-to /* .fade-leave-active below version 2.1.8 */ {
  .backoverlay{
    opacity: 0;
  }
  .window{
    transform: translateX(-100%);
  
  }
}

.proc-enter-active {
  transition: 0.4s cubic-bezier(0.17, 0.48, 0.46, 0.96);
}

.proc-leave, .proc-leave-active {
  transition:.4s cubic-bezier(0.63, 0.17, 1, 0.76);
  
}
.proc-enter, .proc-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0);
}


.collapse-leave, .collapse-leave-active, .collapse-enter-active{
  transition: transform 0.3s 0s , height 0s 0.3s;
    transform-origin: top center;
    height: auto;
}

.collapse-enter, .collapse-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scaleY(0);
  height:0;
}